
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{% block title %} {% endblock %}</title>
    <link type="text/css" rel="stylesheet" href='../public/css/style.css?v=30' />
</head>

<body>
{# Main layout body container and contents #}
<div class='layout-container'>
{% block content %}

{% endblock %}
</div>

</body>
</html>