{# nav bar for welcome and logout #}
<div class="header-bar">
    <p id="welcome-user">welcome {{name}}</p>
    {# <p id="logout">log out</p> #}
    <a href="/VasHouseAssessment/public/index.php?url=logout" id="logout">log out</a>
</div>